<div class="footer">
		<div class="foot">
         <div class="foot1 foot1_border layout2">
         	<ul class="clear oh">
            	<li>
                	<div class="foot1_s">
                        <b> <a href="#">品牌故事 | BRAND</a></b>
                        <ul class="fl">
                            <li><a href="#">关于品牌</a></li>
                            <li><a href="#">获得荣誉</a></li>
                            <li><a href="#">新闻动态</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                	</div>
                </li>
                <li>
                	<div class="foot1_s">
                        <b> <a href="#">公司新闻 | NEWS CENTER</a></b>
                        <ul>
                            <li><a href="#">网上商城</a></li>
                            <li><a href="#">维修网点</a></li>
                            <li><a href="#">软件升级</a></li>
                            <li><a href="#">产品使用</a></li>
                        </ul>
                	</div>
                </li>
                <li>
                	<div class="foot1_s">
                        <b> <a href="#">产品展示 | PRODUCT</a></b>
                        <ul>
                            <li><a href="#">招商加盟</a></li>
                            <li><a href="#">产品合作</a></li>
                            <li><a href="#">资源合作</a></li>
                        </ul>
                	</div>
                </li>
                <li>
                	<div class="foot1_s">
                        <b> <a href="#">招商加盟 | CONTACT US </a></b>
                        <ul>
                            <li><a href="#">新浪微博</a></li>
                            <li><a href="#">腾讯微博</a></li>
                            <li><a href="#">官方微信</a></li>
                            
                        </ul>
                	</div>
                </li>
                 <li>
                	<div class="foot1_s" style="background: none;">
                        <b> <a href="#">招商加盟 | CONTACT US </a></b>
                        <ul>
                            <li><a href="#">新浪微博</a></li>
                            <li><a href="#">腾讯微博</a></li>
                            <li><a href="#">官方微信</a></li>
                        </ul>
                	</div>
                </li>
            </ul>
        </div>
		</div>
		</div>
		<div class="foot2">
			<p class="t-c ">粤ICP备120860000号     Copyright © 2015 罗马国际 All Rights Reserved  </p>
		</div>
    <link href="/Public/css/lrtk.css" rel="stylesheet" type="text/css" />