	<a href="#0" class="cd-top">Top</a>
	<div class="header">
		<div class="header_mid">
			<div class="logo fl"><img src="/Public/Images/logo.jpg"/></div>
			<div class="header_r fr pr">
			<span class="c-f f-12 mt-10 t-r fr">全国服务热线：020-84130064 / 400-678-5751</span>
			<ul class="nav fr pa">
				<li><a href="index.html" class="language-tg" data-title="HOME">首页</a></li>
				<li><a href="Introduction.html" class="language-tg" data-title="ABOUT ROME">关于我们</a></li>
				<li><a href="product.html" class="language-tg" data-title="BRAND">品牌</a></li>
				<li><a href="news.html" class="language-tg" data-title="NEWS">公司新闻</a></li>
				<li><a href="productMain.html" class="language-tg" data-title="PRODUCTS">产品展示</a></li>
				<li><a href="jointo.html" class="language-tg" data-title="MERCHANTS JOIN">商家入驻</a></li>
				<li><a href="#" class="language-tg" data-title="R.H.A">家居艺术院R.H.A </a></li>
				<li><a href="#" class="language-tg" data-title="CONTACT US">联系我们</a></li>
			</ul>
			</div>	
		</div>
	</div>